<h1>新增書本</h1>

  <%= form_for(@books) do |f| %>
    <%= f.label :name, "書本" %>
    <%= f.text_field :name %> <br />

    <%= f.label :introduction, "介紹" %>
    <%= f.text_field :introduction %> <br />

    <%= f.label :actor, "作者" %>
    <%= f.text_field :actor %> <br />

    <%= f.label :price, "價格" %>
    <%= f.text_area :price %> <br />

    <%= f.submit %>
  <% end %>

  <br />
  <%= link_to '回候選人列表', library_path %>